
Hi <%= @recipient_name %>, 
<br>
<br>
<body>
  Check out the newest listing from Plant Connect! 


  <img src="<%= @listing.plant.photo %>"
        alt="Plant Photo"
        width="500"
        height="auto">

  <ul>
    <li>
      Type: <%= @listing.plant.plant_type %>
    </li>
    <li>
      Category: <%= @listing.category %>
    </li>
    <li>
      Rooted: <%= @listing.rooted %>
    </li>
    <li>
      Quantity available: <%= @listing.quantity %>
    </li>
    <li>
      Listing Description: <%= @listing.description %>
    </li>
  </ul>
  <br>
  Come back to Plant Connect to see the rest of the listings in your area!
</body>